.iPhone-first-block {
    width: 100%;
    height: 450px;
    background: white;
    display: flex;
    justify-content: left; /* Располагаем содержимое блока по правому краю */
    /*padding-right: 20px; !* Отступ справа, чтобы фотография не прижималась к краю *!*/
    color: #1b1c1c;
}

#main-photo {
    margin-left: 10%; /* Отступ справа для фотографии */
    width: 40%;
}

.iPhone-first-block h3{
    margin-left: 15%;
    margin-top: 13%;
    font-size: 250%;
    font-family: AppleGothic;
}

.iPhone-table {
    margin: 0 5%; /* Отступы по бокам */
    margin-top: 10%
}

table {
    width: 90%; /* Ширина таблицы */
    margin: 0 auto; /* Центрирование таблицы */
    border-collapse: collapse;
    border: 1px solid #898b8c; /* Толщина и цвет границы таблицы */
    /*border: 1px solid #fefefe;*/
}
td {
    width: 33.33%; /* Каждая ячейка занимает 1/3 ширины таблицы */
    height: 350px;
    padding: 10px;
    /*border: 1px solid #898b8c;  !* Толщина и цвет границы ячеек *!*/
    border: 1px solid #fefefe;
}
th{
    height: 5em;
    color: #1b1c1c;
}
.trying{
    text-align: center;
    font-size: 125%;
    color: #1b1c1c;
    margin-bottom: 5em;
}
.trying p{
    font-size: 135%;
}
.table-photo {
    width: 70%; /* Ширина фотографии в ячейке */
    margin-left: 16%;
    margin-top: -5%;
}

.table-photo img {
    width: 100%; /* Фотография занимает всю ширину ячейки */
}

p {
    color: #1b1c1c;
    margin-top: 10%;
    text-align: center;
    font-size: 18px;
    /*font-family: AppleGothic;*/
    font-family: Arial, sans-serif;
}
footer p{
    color: white;
    font-size: 100%;
    text-align: left;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgb(0, 0, 0, 0.8);
}

.modal-content{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

button{
    margin-left: 30%;
    margin-top: 7%;
    border: 0;
    width: 45%;
    height: 13%;
    /*background-color: #898b8c;*/
    background-color: white;
    font-size: 120%;
    text-align: center;
}

.modal-content{
    margin-top: 5%;
}

.modal-table td{
    width: 45%;
    height: 50%;
}
table th{
    color: black;
    font-size: 120%;
    text-align: center;
}
.modal-content tr{
    border: 1px solid #1b1c1c;
}
.modal-table td{
    color: black;
    font-size: 125%;
    text-align: left;
    border: 1px solid #1b1c1c;
}
.close:hover {
    cursor: pointer;
}
.button-Comment{
    background-color: white;
    color: black;
    margin-left: -10.75em;
    margin-top: 14em;
    font-family: AppleGothic;
    width: 15em;
    height: 6em;
    border-radius: 30px;
    border: 3px solid black;
}
.iPhone-first-block b{
    font-size: 115%;
    padding: 0 0;
    color: black;
    text-decoration: none;
}
footer{
    margin-top: 15em;
}

@media screen and (max-width: 768px) {
    /* Стили, применяемые на устройствах с шириной экрана до 768px */
    .iPhone-first-block {
        height: auto; /* Автоматическая высота блока */
        flex-direction: column; /* Блоки располагаются в столбец */
        align-items: center; /* Выравнивание по центру */
    }

    #main-photo {
        margin-left: 0; /* Убираем отступ слева */
        width: 80%; /* Ширина фотографии */
    }

    .iPhone-first-block h3 {
        margin-left: 0; /* Убираем отступ слева */
        margin-top: 5%; /* Уменьшаем отступ сверху */
        font-size: 200%; /* Уменьшаем размер заголовка */
    }

    .iPhone-table {
        margin: 0; /* Убираем отступы */
    }

    table {
        width: 100%; /* Ширина таблицы на всю ширину экрана */
    }

    .table-photo {
        width: 100%; /* Ширина фотографии в ячейке таблицы */
        margin-left: 0; /* Убираем отступ слева */
        margin-top: 0; /* Убираем отступ сверху */
    }
    .table-text, .upgrade {
        font-size: 14px; /* Уменьшаем размер шрифта кнопки */
    }
    .button-Comment{
        margin-top: 3em;
        margin-left: 1em;
    }
    footer{
        margin-top: 5em;
    }
    footer .lover {
        text-align: left;
        margin-right: 20px; /* Добавляем правый отступ между элементами */
        font-size: 14px;
    }

    footer .aboutme {
        text-align: left;
        font-size: 14px;
    }
    ul#nav li:hover ul {
        position: absolute;
        padding: 0;
        display: block;
        width: 250px;
        background: #1b1c1c;
        margin-top: 2.4%;
        margin-bottom: -2%;
        right: 0; /* Добавляем, чтобы панель выскакивала с левого края */
    }
}

















